body {
	margin: 0;
	font-family: arial;
}

#container {
	width: 960px;
	margin: 0 auto;
}

.square {
	outline: 1px solid black;
	float:left;
	background-color: rgb(88,140,115);
}

.buttonOptions{
	clear: both;
	display: block;
}

.gridButton {
	float: left;
	clear: left;
}

.clearButton {
	float: left;
}

h4 {
	text-align: center;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
}

.options {
	text-align: center;
	clear: both;
}

.buttons {
	margin: 0 auto;
	width: 700px;
	padding-bottom: 20px;
}

button {
	width: 200px;
	display: block;
	margin: 0 auto;
	padding: 5px;
}

.change {
	background-color: white;
}