body {
	margin: 0;
	font-family: arial;
	background-color: rgb(233,224,214);
}

#container {
	width: 960px;
	margin: 0 auto;
}

.square {
	outline: 1px solid black;
	float: left;
	background-color: rgb(66,152,181);
}

h4 {
	text-align: center;
	color: rgb(53,68,88);
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	color: rgb(53,68,88);
}

.change {
	background-color: rgb(135,114,96);
}

#menu {
	height: auto;
	width: 600px;
	margin: 0 auto;
}

li {
	background-color: rgb(58,154,217);
	color: rgb(233,224,214);
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	position: relative;
	width: 75px;
	text-align: center;
	margin: 5px 10px;
}

li:hover {
	cursor: pointer;
	left: 1px;
	top: 1px;
}